@use '@/styles/variables' as *;

.monitor-item{
  min-height: 0;
  display: flex;
  flex-direction: column;
  .window-header{
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 7px 10px;
    border-bottom: 1px solid var(--border);
    .header-title{
      font-size: 16px;
      font-weight: bold;
    }
    .close-btn{
      width: 16px;
      height: 16px;
      cursor: pointer;
    }
  }
  .window-content{
    min-height: 0;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    .canvas-wrap{
      position: relative;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      .monitor-feed{
        width: 100%;
        height: 100%;
      }
      .prediction-box{
        position: absolute;
        border: 2px solid red;
        z-index: 1000;
        .pb-label{
          position: absolute;
          color: white;
          top: 0;
          background-color: black;
          opacity: 0.5;
          padding: 5px 10px;
        }
      }
    }
  }
}