@use '@/styles/mixins' as *;

.forwarder-config{
  @include modal-window;
  .modal-content{
    .modal-body{
      padding: 0 0 40px 0;
      width: 430px;
      .section-description{
        font-size: 14px;
        color: #000;
        padding: 0 40px;
        margin-bottom: 10px;
      }
      .form-group{
        @include flb-form-field;
        padding: 0 40px;
        .field-label{
          margin-top: 20px;
        }
      }
    }
    .modal-footer{
      padding: 0 40px 40px 40px;
      justify-content: flex-end;
      display: flex;
      gap: 10px;
      flex-direction: row;
      .btn{
        @include flb-btn;
      }
    }
  }
}